<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/bean.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEntradas</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReservaEntradas</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEstadoReserva</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConfirmacionReserva</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NotificacionConfirmacionReservaEntrada</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AnulacionReserva</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEntradas</servlet-name>
        <url-pattern>/ConsultaEntradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservaEntradas</servlet-name>
        <url-pattern>/ReservaEntradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEstadoReserva</servlet-name>
        <url-pattern>/ConsultaEstadoReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmacionReserva</servlet-name>
        <url-pattern>/ConfirmacionReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificacionConfirmacionReservaEntrada</servlet-name>
        <url-pattern>/NotificacionConfirmacionReservaEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnulacionReserva</servlet-name>
        <url-pattern>/AnulacionReserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
